@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./fonts/Outfit-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./fonts/Outfit-Regular.ttf) format('truetype');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

:root {
  --slate-900: hsl(218, 44%, 22%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-300: hsl(212, 45%, 89%);

  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;


  font-family: "Outfit";
}
